@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #262626;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/static/Inter_18pt-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/assets/fonts/noto-serif/static/NotoSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/assets/fonts/source-code-pro/static/SourceCodePro-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url("/assets/fonts/pacifico/Pacifico.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
