@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #262626;
  --foreground: #0a0a0a;
  --color: #ffffff;
}

body {
  color: var(--color);
  background: var(--background); 
  font-family: Inter;
}

[data-theme="dark"] {
  --background: #262626; /*neutral-800*/
  --secondaryBackground: #525252; /*neutral-600*/
  --foreground: #0a0a0a;
  --color: #ffffff;
  --colorSecondary: #a3a3a3; /*neutral-300*/
  --hover: #404040; /*neutral-700*/
}

[data-theme="light"] {
  --background: #ffffff; /*white*/
  --secondaryBackground: #d4d4d4; /*neutral-300*/
  --foreground: #ffffff;
  --color: #000000;
  --colorSecondary: #404040;
  --hover: #d4d4d4; /*neutral-200*/
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; 
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/static/Inter_18pt-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/assets/fonts/noto-serif/static/NotoSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/assets/fonts/source-code-pro/static/SourceCodePro-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url("/assets/fonts/pacifico/Pacifico.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
